name: CI test

on:
  push:

jobs:
  test0:
    name: test0
    runs-on: ubuntu-latest
    container:
      image: mysql:8.0
    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -proot"
          --health-interval=5s
          --health-timeout=2s
          --health-retries=10
    steps:
      - name: connect to mysql
        run: |
          mysql -h mysql -uroot -proot -e "SELECT VERSION();"



